<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objectA</key>
	<dict>
		<key>age</key>
		<integer>27</integer>
		<key>childrens</key>
		<array>
			<string>jas</string>
			<string>malgosia</string>
			<string>dupa</string>
		</array>
		<key>isMale</key>
		<true/>
		<key>name</key>
		<string>Pastez</string>
	</dict>
	<key>objectB</key>
	<dict>
		<key>someKey</key>
		<string>someKeyValue ok</string>
	</dict>
</dict>
</plist>
